div {
    h2 {
        text-align: center;
        margin-top: 40px;
    }

    .ingresar {
        margin-left: 200px;
        margin-right: 200px;
    }

    .btn-primary {
        margin-left: 200px;
        margin-top: 40px;
        margin-bottom: 150px;
        background-color: black;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
}